/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  background-color: #D1E8E2; /* Light green background */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}
